<div class="bloque container">
    <div class="ranking-container">
        <div class="album-item uno">
            <div class="informacion">
                <h2 class="nombre">Amaia Romero</h2>
                <p class="texto">Ganadora de Operación Triunfo 2017, y representante de España en Eurovisión 2018
                junto con su compañero de academia y actual novio Alfred García, Amaia Romero o "Amaia de España"
                se ha convertiido en un fenómeno nacional. Ha conseguido enamorar a toda España con actuaciones
                como Shake it out o Love on the Brain. </p>
                    <small class="ventas">Ganadora</small>
                </div>
                <img class="img-ranking" src="./img/amaia.jpg" alt="">
            </div>
            
            <div class="album-item dos">
                <div class="informacion">
                    <h2 class="nombre">Aitana Ocaña</h2>
                    <p class="texto">Aitana es una joven de 18 años es natural de Barcelona, 
                        aunque reside junto a su familia en Sant Climent de Llobregat. 
                        Ya desde bien pequeña está vinculada con la música. Comenzó a tocar
                         el piano y con tan solo 12 años se dio cuenta de que su futuro iba 
                         a desarrollarse dentro de ese mundillo, gracias a su interpretación
                          de la canción de Michael Jackson, "We Are The World", en una función de su colegio.
                        
                        
                    </p>
                    <small class="ventas"> Segunda</small>
                </div>
                <img class="img-ranking" src="./img/aitana.jpg" alt="">
            </div>
            
            <div class="album-item tres">
                <div class="informacion">
                    <h2 class="nombre">Miriam</h2>
                    <p class="texto">Tras el número cinco de los concursantes filtrados a
                         través de la app se esconde Miriam Rodríguez Gallego, una joven 
                         de A Coruña desconocida para el público. A través de una entrevis
                         ta en La Voz de Galicia pudimos conocerla y saber que acostumbra 
                         a actuar en conciertos y celebraciones, así como que hace unos me
                         ses decidió trasladarse a Madrid para encontrar su oportunidad en
                          el mundo de la música y en el de la interpretación, pues también
                           es actriz. Con su entrada en 'OT 2017' parece que la decisión fue acertada y dicha oportunidad le ha llegado.
                        
                    </p>
                    <small class="ventas">Tercera</small>
                </div>
                <img class="img-ranking" src="./img/miriam.jpg" alt="">
            </div>
            
        </div>
        
        <div class="title-ranking">
            <h1>Finalistas OT'17</h1>
        </div>
    </div>
    
    <div class="bloque container">
        <div class="ranking-container">
            <div class="album-item cuatro">
                <div class="informacion">
                    <h2 class="nombre">Alfred</h2>
                    <p class="texto">
                        Alfred García llegó a la cuarta edición de 'La Voz', directo desde Pra
                        t de Llobregat, con la intención de conquistar a los cuatro miembros del
                         jurado con la canción "Waiting on the world to change". Aunque todos los
                          jueces le llenaron de comentarios positivos, ninguno quiso que el barce
                          lonés se convirtiera en uno de los miembros de su equipo y no pasó de l
                          as audiciones a ciegas. </p>
                        <small class="ventas">Cuarto (Finalista)</small>

                    </div>
                    <img class="img-ranking" src="./img/alfred.jpg" alt="">
                </div>
                
                <div class="album-item cinco">
                    <div class="informacion">
                        <h2 class="nombre">Nerea</h2>
                        <p class="texto"> Nerea Rodríguez, que se esconde bajo el concursante núme
                            ro tres de la filtración, es una de ellas. La pequeña intentó triunfar
                             en la primera edición de la versión de niños de 'La Voz'. A pesar de 
                             que dio todo lo que pudo dar en las audiciones a ciegas y se atrevió c
                             on la complicada "Girls just want to have fun" de Cyndi Lauper, la de 
                             Barcelona no consiguió que ninguno de los coaches se diese la vuelta y
                              tuvo que abandonar el programa. </p>
                        <small class="ventas">Octava</small>
                    </div>
                    <img class="img-ranking" src="./img/nerea.jpg" alt="">
                </div>
                
                <div class="album-item seis">
                    <div class="informacion">
                        <h2 class="nombre">Raoul</h2>
                        <p class="texto">Raoul Vázquez es el nombre de la persona que ocupa el núme
                            ro seis de los concursantes filtrados de 'OT 2017'. Seguramente su cara
                             os resulte familiar, y es que el joven ya tiene algo de experiencia de
                             lante de las cámaras tras participar también en la cuarta edición de '
                             La Voz'. Vázquez encandiló a los jueces con su voz y formó parte del eq
                             uipo de Melendi. Tuvo que abandonar el programa en las batallas pero su
                              coach pidió llevar las riendas de la carrera musical del concursante. 
                              Nada se sabe del final de esta historia entre Melendi y Raoul pero lo
                               que sí tenemos claro es que volveremos a verle en nuestra pequeña pan
                               talla gracias a 'OT 2017'.
                            
                            
                        </p>
                        <small class="ventas">Décimo</small>
                    </div>
                    <img class="img-ranking" src="./img/raoul.jpg" alt="">
                </div>
                
            </div>
            
            <div class="title-ranking">
                <h1>Concursantes OT'17</h1>
            </div>
        </div>
        <div class="bloque container">
            <div class="ranking-container">
                <div class="album-item siete">
                    <div class="informacion">
                        <h2 class="nombre">Cepeda</h2>
                        <p class="texto"> Otro artista que pisó el escenario de 'La Voz' y que veremos 
                            próximamente en la Academia de 'OT 2017' es Luis Cepeda, que da nombre al co
                            ncursante número nueve de la lista. El cantante se dio a conocer gracias a 
                            Internet, y es que antes de aparecer delante de las cámaras, el gallego se 
                            dedicaba a colgar vídeos suyos cantando. Uno de ellos se viralizó y más de c
                            ien mil personas lo compartieron. En la tercera edición del talent show de 
                            elecinco, la voz del concursante hizo que tanto Malú como Laura Pausini y A
                            tonio Orozco se giraran. Él se decantó por Malú y fue expulsado en las bata
                            llas, que compitió contra Joaquín Garli con "Wake me up".
                        </p>
                        <small class="ventas">Noveno</small>
                    </div>
                    <img class="img-ranking" src="./img/cepeda.jpg" alt="">
                </div>
                
                <div class="album-item ocho">
                    <div class="informacion">
                        <h2 class="nombre">Mimi</h2>
                        <p class="texto">Una de las concursantes que más dio que hablar en 'Fama Revoluti
                            on' fue Mimi Doblas. La joven, que desde niña se ha formado como bailarina, s
                            e convirtió en centro de todos los focos como consecuencia de su extraña rela
                            ción con Black. Después de un mes dentro del formato de Cuatro, Mimi fue la c
                            uarta expulsada del programa. Tras siete años, la joven vuelve a 'OT 2017' -c
                            omo la concursante filtrada número once- más fuerte que nunca para demostrar 
                            que su talento sobre los escenarios no ha hecho más que crecer.  </p>
                        <small class="ventas">Dieciseisava</small>
                    </div>
                    <img class="img-ranking" src="./img/mimi.jpg" alt="">
                </div>
                
                <div class="album-item nueve">
                    <div class="informacion">
                        <h2 class="nombre">Ricky</h2>
                        <p class="texto"> Ricky Merino es una de las caras que más llamó la atención de
                            sde el casting final. Este mallorquín de 31 años estudió Comunicación Audio
                            visual y se formó como guionista, a raíz de lo cual ha dirigido cinco corto
                            metrajes. También tiene experiencia como actor en la webserie "La movida" y
                             en musicales como "Grease", "Rent" o "Show must go on", entre otros proyec
                             tos. </p>
                        <small class="ventas">Doceavo</small>
                    </div>
                    <img class="img-ranking" src="./img/ricky.jpg" alt="">
                </div>
                
                
                
                
            </div>
            <div class="bloque container">
                <div class="ranking-container">
                    <div class="album-item diez">
                        <div class="informacion">
                            <h2 class="nombre">Mireya</h2>
                            <p class="texto"> Aunque no es conocida a nivel nacional, la concursante número doce
                                 también ha participado en un talent show musical. Se trata de Mireya Bravo, fina
                                 lista de la octava edición de 'Se llama copla' en Canal Sur (2014-2015). Nacida 
                                 en Alhaurín de la Torre, este mismo año se ha alzado con la victoria como Miss Co
                                 smos Málaga y Miss Cosmos Elegancia, de manera que compagina su pasión por la mús
                                 ica con su trabajo como modelo y con la ayuda que ofrece a sus padres de vez en cu
                                 ando en el bar familiar.</p>
                            <small class="ventas">Onceava</small>
                        </div>
                        <img class="img-ranking" src="./img/mireya.jpg" alt="">
                    </div>
                    
                    <div class="album-item once">
                        <div class="informacion">
                            <h2 class="nombre">Thalía</h2>
                            <p class="texto">Si hubo una voz que acaparó la atención en las promociones del casting 
                                final de 'OT 2017' fue la de aquella joven que interpretaba "Euphoria". Se trataba d
                                e Thalía Garrido, una joven con la mayoría de edad recién cumplida a quien desde peq
                                ueña se le despertó el amor por la música. Con solo siete años comenzó a tocar el pi
                                ano y a componer. </p>
                                 <small class="ventas">Catorceava</small>
                            </div>
                            <img class="img-ranking" src="./img/thalia.jpg" alt="">
                        </div>
                        
                        <div class="album-item doce">
                            <div class="informacion">
                                <h2 class="nombre">Agoney</h2>
                                <p class="texto"> Este es uno de los concursantes más jóvenes de la edición. Agoney 
                                    Hernández llega desde Tenerife y su sueño es sin duda triunfar en el mundo de la
                                     música. Lleva vinculado a la canción desde los 6 años, momento en que empezó a 
                                     tocar la trompeta en una banda de música. Posteriormente ha estado estudiando m
                                     úsica en su lugar de nacimiento y ha actuado en infinidad de ocasiones ante dece
                                     nas de personas en bolos y actuaciones, además de diferentes espectáculos teatra
                                     les. Hoy en día, el tinerfeño se dedica profesionalmente a cantar en un hotel de
                                      su isla natal. Por otro lado, la red está repleta de covers realizados por él.
                                    </p>
                                    <small class="ventas">Sexto</small>
                                </div>
                                <img class="img-ranking" src="./img/ago.jpg" alt="">
                            </div>
                            
                            
                            
                            
                        </div>
                        
                    </div>
                    
                    
                </div>
                <div class="bloque container">
                    <div class="ranking-container">
                        <div class="album-item trece">
                            <div class="informacion">
                                <h2 class="nombre">Marina</h2>
                                <p class="texto"> Marina Rodríguez es otra de las concursantes "desconocidas
                                    " de la edición. Natural de Montequinto, a lo largo de su vida no ha par
                                    ticipado en ningún concurso musical ni se ha hecho conocida a nivel nacio
                                    nal pero para muchos sí es evidente el amor que le tiene a la música, rep
                                    asando sus publicaciones. Desde que era solo una niña, la sevillana toca 
                                    la viola y a lo largo de su vida ha aprendido a tocar el ukelele y el pian
                                    o. Además, ha impartido clases particulares de música y de viola. Paralela
                                    mente es una joven "youtuber" ya que ha publicado diferentes vídeos en la 
                                    conocida plataforma junto a amigas y su pareja.  </p>
                                <small class="ventas">Treceava</small>
                            </div>
                            <img class="img-ranking" src="./img/marina.jpg" alt="">
                        </div>
                        
                        <div class="album-item catorce">
                            <div class="informacion">
                                <h2 class="nombre">Roi</h2>
                                <p class="texto">Directo de Galicia llega este concursante de 24 años que par
                                    ticipará en la primera gala de 'OT 2017'. Roi Méndez tiene una amplia exp
                                    eriencia en el mundo de la música desde que a los 15 años montase su propi
                                    o grupo con sus amigos, Frab Fly. A día de hoy trabaja activamente en el p
                                    anorama musical ya que es guitarrista en la orquesta Olympus, una de las m
                                    ás importantes de Galicia. Destacar además que confiesa que tiene como ref
                                    erente a grupos como Mcfly, The Beatles o Queen, entre otros. Por otro lad
                                    o, es reseñable también su uso de las redes sociales donde no duda en publ
                                    icar infinidad de covers para dejar patente su talento musical. </p>
                                    
                                    <small class="ventas">Séptimo</small>
                                </div>
                                <img class="img-ranking" src="./img/roi.jpg" alt="">
                            </div>
                            
                            <div class="album-item quince">
                                <div class="informacion">
                                    <h2 class="nombre">Ana War</h2>
                                    <p class="texto"> Ana Guerra llega directa de Tenerife para triunfar en 'OT'
                                        . Una de sus experiencias musicales está estrechamente relacionada con l
                                        as redes ya que participó en un 'Twitter Acoustics' junto al artista Die
                                        go Martín. No ha participado en ningún programa de televisión ni se ha d
                                        edicado al mundo musical más allá de pequeños trabajos en su lugar de or
                                        igen pero sí se ha formado en el mundo de la música ya que ha cursado lo
                                        s estudios de flauta travesera durante ocho años en el Conservatorio. Co
                                        mo curiosidad, cabe recalcar guarda una estrecha relación con Jadel, gan
                                        ador de una de las ediciones de 'El número uno'. </p>
                                        
                                        <small class="ventas">Quinta (Finalista)</small>
                                    </div>
                                    <img class="img-ranking" src="./img/ana.jpg" alt="">
                                </div>
                                
                                
                                
                                
                            </div>
                          
                        </div>  <br><br><br>  <br><br><br>
                    </div>