
<form novalidate  class="song-form ">
       <div class="form-control-group">
           <label for="artist">Concursante</label>
           <input type="text" id="artist" name="artist" placeholder="Concursante" required>
       </div>
     
       <div class="form-control-group">
            <label for="title">Edad</label>
            <input type="text" id="title" name="title" placeholder="Edad" required>
        </div>
     
        <div class="form-control-group">
            <label for="cover_url">Cover URL</label>
            <input type="url"  id="cover_url" name="cover_url" placeholder="http://...">
        </div>
        
        <div class="form-control-group">
            <button>Save song</button>
        </div>
        <br><br><br>  <br>
    </div>
 
</form>