<section class="songs-list">
    
            <div>
        <article class="song">
            <a href="detail.html">
                <img class="cover" src="img/amaia.jpg" alt="">
            </a>
            <div class="artist">Amaia</div>
            <div class="title">19 años</div>
        </article>
     

        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/aitana.jpg" alt="">    
                    </a>
               
            <div class="artist">Aitana</div>
            <div class="title">18 años</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/ana.jpg" alt="">  
                    </a>
           
            <div class="artist">Ana War</div>
            <div class="title">23 años</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/miriam.jpg" alt="">       
                    </a>
           
            <div class="artist">Miriam</div>
            <div class="title">21 años</div>
        </article>
</div>
<div>
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/alfred.jpg" alt=""> 
                    </a>
           
            <div class="artist">Alfred</div>
            <div class="title">20 años</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/roi.jpg" alt="">
                    </a>
           
            <div class="artist">Roi</div>
            <div class="title">23 años</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/cepeda.jpg" alt="">      
                    </a>
           
            <div class="artist">Cepeda</div>
            <div class="title">28 años</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/raoul.jpg" alt="">     
                    </a>
           
            <div class="artist">Raoul</div>
            <div class="title">20 años</div>
        </article>
</div>
<div>
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/ago.jpg" alt="">       
                    </a>
          
            <div class="artist">Agoney</div>
            <div class="title">21 años</div>
        </article>
        
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/nerea.jpg" alt="">
                    </a>
           
            <div class="artist">Nerea</div>
            <div class="title">18 años</div>
        </article>
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/ricky.jpg" alt="">     
                    </a>
           
            <div class="artist">Ricky</div>
            <div class="title">31 años</div>
        </article>
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/mimi.jpg" alt="">      
                    </a>
           
            <div class="artist">Mimi</div>
            <div class="title">25 años</div>
        </article>
</div>
<div>
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/mireya.jpg" alt="">
                    </a>
           
            <div class="artist">Mireya</div>
            <div class="title">20 años</div>
        </article>
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/marina.jpg" alt="">
                    </a>
            
            <div class="artist">Marina</div>
            <div class="title">19 años</div>
        </article>
        <article class="song">
                <a href="detail.html">
                        <img class="cover" src="img/thalia.jpg" alt="">    
                    </a>
          
            <div class="artist">Thalía</div>
            <div class="title">18 años</div>
        </article>
        
</div>
   
    
</section>